.jumbotron {
  margin-top: 1.3rem;
}

.jumbotron h4 {
  margin-bottom: 1.3rem;
}

.jumbotron h2 {
  margin-bottom: 1.3rem;
}
.input {
  width: 70%;
  display: inline-block;
  margin-right: 1.3rem;
  margin-bottom: 1.6rem;
}
.addTaskButton {
  margin-bottom: 1.6rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todoText {
  display: inline-block;
  font-size: 1.2rem;
}
.checkBox {
  display: inline;
  margin-right: 0.6rem;
}
.logout {
  margin-bottom: 1.6rem;
}
